@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>Azure Table</h2>
        <ul>
            <li><a asp-area="" asp-controller="Tables" asp-action="CreateTable">CreateTable</a></li>
            <li><a asp-area="" asp-controller="Tables" asp-action="AddEntity">Add entity</a></li>
            <li><a asp-area="" asp-controller="Tables" asp-action="AddBatch">Add batch</a></li>
            <li><a asp-area="" asp-controller="Tables" asp-action="GetSingle">Get single</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>...</h2>
        <ul>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>...</h2>
        <ul>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
