@model AzureStorage.Models.CustomerEntity
@{
    ViewBag.Title = "DeleteEntity";
}

<h2>Delete Entity results</h2>

<table border="1">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        @*<th>HTTP result</th>*@
    </tr>
    <tr>
        <td>@Model.RowKey</td>
        <td>@Model.PartitionKey</td>
        @*<td>@Model.HttpStatusCode</td>*@
    </tr>
</table>
